.outline.label .text {
    -fx-stroke: black;
    -fx-stroke-width: 1px;
    -fx-font-weight: bold;
}

.anchor {
    -fx-background-image:url('images/background/background.png');
    -fx-background-size: 100% 100%;
}

.border {
    -fx-background-image:url('images/background/winner.png');
    -fx-background-size: 100% 100%;
}

.button {
    -fx-border-color: white;
    -fx-border-width: 4;
    -fx-border-radius: 10;
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-text-fill: #fff;
}

.outline2.label .text {
    -fx-stroke: black;
    -fx-stroke-width: 0.5px;
}

.character{
    -fx-padding: 5px;
    -fx-border-color: white;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: black;
    -fx-background-radius: 8px;
}

.character:disabled{
    -fx-opacity: 0.4;
}

.slider .track{
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(to bottom,
            derive(-fx-control-inner-background, -9%),
            derive(-fx-control-inner-background, 0%),
            derive(-fx-control-inner-background, -5%),
            derive(-fx-control-inner-background, -12%)
        );
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em;
    -fx-padding: 0.25em;
}